*{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:auto;
    height:auto;
    font-family: 'Pacifico', cursive;
    font-size: 2.5vw;
}
.buttons{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.buttonGreen{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:10vw;
    height: 5vw;
    border-radius: 10vw;
}
.buttonRed{
    background-color: red; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:10vw;
    height: 5vw;
    border-radius: 10vw;
}