*{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
    width:auto;
    height:auto;
    font-family: 'Pacifico', cursive;
    font-size: 2.5vw;
}
.buttons{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}